aiofiles==25.1.0
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
cffi==2.0.0
click==8.3.0
colorlog==6.10.1
denoiser==0.1.5
fastapi==0.121.0
filelock==3.20.0
fsspec==2025.10.0
h11==0.16.0
httptools==0.7.1
hydra-colorlog==0.1.4
hydra-core==0.11.3
idna==3.11
jinja2==3.1.6
julius==0.2.7
markupsafe==3.0.3
mpmath==1.3.0
networkx==3.5
numpy==2.3.4
omegaconf==1.4.1
pip==25.2
pycparser==2.23
pydantic==2.12.3
pydantic-core==2.41.4
pystoi==0.4.1
python-dotenv==1.2.1
python-multipart==0.0.20
pyyaml==6.0.3
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.3
starlette==0.49.3
sympy==1.14.0
torch==2.9.0
torchaudio==2.9.0
torchcodec==0.8.1
typing-extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.38.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
